<div class="sidebar">

        <div class="sidebar-section">
            <h5><span>Nyhetsbrev</span></h5>
            {% include newsletter.html %}
        </div>

        <div class="sidebar-section">
            <h5><span>Kategorier</span></h5>
            <ul style="list-none;">
              <li><a href="{{ site.baseurl }}/category/wordpress">WordPress</a></li>
              <li><a href="{{ site.baseurl }}/category/seo">SEO</a></li> 
            </ul>
        </div>
        <div class="sidebar-section">
            <h5><span>Nyttige lenker</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://jeglagersiden.com">Billig Webdesign - Jeg lager siden</a></li>
            <li><a target="blank" href="https://www.hostg.xyz/SHQB">Billig Webhotell - Hostinger</a></li>
            </ul>
        </div>
</div>
